body {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    139deg,
    rgba(101, 85, 61, 1) 27%,
    rgba(115, 115, 115, 1) 51.4%,
    rgba(115, 115, 115, 1) 65.8%,
    rgba(51, 53, 69, 1) 84.9%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 600px;
}

h1 {
  text-align: center;
  background-color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 35px;
  width: auto;
  border-radius: 15px;
  border: solid black 2px;
  padding: 5px;
}

.ulcontainer {
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 50;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  background-color: white;
  padding: 5px;
  width: 400px;
  /* height: 30px; */
  /* white-space: nowrap; */
  overflow: auto;
  /* text-overflow: ellipsis; */
}

.deleteBtn1 {
  width: 50px;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  color: white;
  background-color: black;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 5px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 10px;
  margin-bottom: 5px;
}

button {
  padding: 5px;
  flex-direction: row;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-bottom: 5px;
}

#deleteallbtn {
  background-color: red;
  color: white;
  margin-bottom: 20px;
}

.timelmnt {
  position: absolute;
  color: white;
  background-color: black;
  font-size: 10px;
  font-weight: 200;
  margin-top: 48px;
  padding: 4px;
  border-radius: 8px;
}
